In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [71]:
# Import data
# People data
people = pd.read_csv("data/People.csv")
batting = pd.read_csv("data/Batting.csv")
pitching = pd.read_csv("data/Pitching.csv")
salaries = pd.read_csv("data/Salaries.csv")
teams = pd.read_csv("data/Teams.csv")

# War data - Baseball Reference
war_bat = pd.read_csv('data/war_baseballreference.csv', sep=",")

# War data - Fangraphs
war_fangraphs = pd.read_csv('data/war_fangraphs.csv', sep=",")

# Teams

- yearID         Year
- lgID           League
- teamID         Team
- franchID       Franchise (links to TeamsFranchise table)
- divID          Team's division
- Rank           Position in final standings
- G              Games played
- GHome          Games played at home
- W              Wins
- L              Losses
- DivWin         Division Winner (Y or N)
- WCWin          Wild Card Winner (Y or N)
- LgWin          League Champion(Y or N)
- WSWin          World Series Winner (Y or N)
- R              Runs scored
- AB             At bats
- H              Hits by batters
- 2B             Doubles
- 3B             Triples
- HR             Homeruns by batters
- BB             Walks by batters
- SO             Strikeouts by batters
- SB             Stolen bases
- CS             Caught stealing
- HBP            Batters hit by pitch
- SF             Sacrifice flies
- RA             Opponents runs scored
- ER             Earned runs allowed
- ERA            Earned run average
- CG             Complete games
- SHO            Shutouts
- SV             Saves
- IPOuts         Outs Pitched (innings pitched x 3)
- HA             Hits allowed
- HRA            Homeruns allowed
- BBA            Walks allowed
- SOA            Strikeouts by pitchers
- E              Errors
- DP             Double Plays
- FP             Fielding  percentage
- name           Team's full name
- park           Name of team's home ballpark
- attendance     Home attendance total
- BPF            Three-year park factor for batters
- PPF            Three-year park factor for pitchers
- teamIDBR       Team ID used by Baseball Reference website
- teamIDlahman45 Team ID used in Lahman database version 4.5
- teamIDretro    Team ID used by Retrosheet

In [72]:
# War data - Baseball Reference
war_bf = pd.read_csv('data/war_baseballreference.csv', sep=",")
# Rename player_ID to playerID, year_ID to yearID and team_ID to teamID
war_bf.rename(columns={'player_ID': 'playerID', 'year_ID': 'yearID', 'team_ID': 'teamID'}, inplace=True)

In [73]:
# People data
awards = pd.read_csv("data/AwardsPlayers.csv")
people = pd.read_csv("data/People.csv")
batting = pd.read_csv("data/Batting.csv")
pitching = pd.read_csv("data/Pitching.csv")
salaries = pd.read_csv("data/Salaries.csv")
teams = pd.read_csv("data/Teams.csv")

In [74]:
war_bf.head()

            name   age   playerID  yearID teamID  WAR_bat  WAR_pit  WAR_total
0  David Aardsma  22.0  aardsda01    2004    SFG     0.00    -0.15      -0.15
1  David Aardsma  24.0  aardsda01    2006    CHC    -0.04     0.61       0.57
2  David Aardsma  25.0  aardsda01    2007    CHW     0.00    -0.40      -0.40
3  David Aardsma  26.0  aardsda01    2008    BOS    -0.02    -0.31      -0.33
4  David Aardsma  27.0  aardsda01    2009    SEA     0.00     1.69       1.69

In [75]:
### People ###
cols = ["playerID", "nameFirst", "nameLast", "nameGiven", "weight", "height", "bats", "throws", "debut"]
# Filter
people = people[cols]
people.head()

,playerID,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut
0,aardsda01,David,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06
1,aaronha01,Hank,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13
2,aaronto01,Tommie,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10
3,aasedo01,Don,Aase,Donald William,190.0,75.0,R,R,1977-07-26
4,abadan01,Andy,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10

In [76]:
# Merge war_bf and people
df = pd.merge(war_bf, people, on="playerID", how="left")
# Remove nameGiven
df = df.drop(columns=["nameGiven"])
df.head()

,name,age,playerID,yearID,teamID,WAR_bat,WAR_pit,WAR_total,nameFirst,nameLast,weight,height,bats,throws,debut
0,David Aardsma,22.0,aardsda01,2004,SFG,0.00,-0.15,-0.15,David,Aardsma,215.0,75.0,R,R,2004-04-06
1,David Aardsma,24.0,aardsda01,2006,CHC,-0.04,0.61,0.57,David,Aardsma,215.0,75.0,R,R,2004-04-06
2,David Aardsma,25.0,aardsda01,2007,CHW,0.00,-0.40,-0.40,David,Aardsma,215.0,75.0,R,R,2004-04-06
3,David Aardsma,26.0,aardsda01,2008,BOS,-0.02,-0.31,-0.33,David,Aardsma,215.0,75.0,R,R,2004-04-06
4,David Aardsma,27.0,aardsda01,2009,SEA,0.00,1.69,1.69,David,Aardsma,215.0,75.0,R,R,2004-04-06

In [77]:
### Awards ###
cols = ["playerID", "awardID", "yearID", "lgID"]
# Filter
awards = awards[cols]

awards.head()

    playerID                awardID  yearID lgID
0   bondto01  Pitching Triple Crown    1877   NL
1  hinespa01           Triple Crown    1878   NL
2  heckegu01  Pitching Triple Crown    1884   AA
3  radboch01  Pitching Triple Crown    1884   NL
4  oneilti01           Triple Crown    1887   AA

In [79]:
# Merge df and awards by playerID and yearID
df1 = pd.merge(df, awards, on=["playerID", "yearID"], how="left")
df1.head()

,name,age,playerID,yearID,teamID,WAR_bat,WAR_pit,WAR_total,nameFirst,nameLast,weight,height,bats,throws,debut,awardID,lgID
0,David Aardsma,22.0,aardsda01,2004,SFG,0.00,-0.15,-0.15,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN
1,David Aardsma,24.0,aardsda01,2006,CHC,-0.04,0.61,0.57,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN
2,David Aardsma,25.0,aardsda01,2007,CHW,0.00,-0.40,-0.40,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN
3,David Aardsma,26.0,aardsda01,2008,BOS,-0.02,-0.31,-0.33,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN
4,David Aardsma,27.0,aardsda01,2009,SEA,0.00,1.69,1.69,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN

In [85]:
### Batting ###
# Rename columns with bat as suffix
batting = batting.rename(columns={"G": "games", "AB": "at_bats", "R": "runs", "H": "hits", "2B": "doubles", "3B": "triples", "HR": "home_runs", "RBI": "runs_batted_in", "SB": "stolen_bases", "CS": "caught_stealing", "BB": "walks", "SO": "strikeouts", "IBB": "intentional_walks", "HBP": "hit_by_pitch", "SH": "sacrifice_hits", "SF": "sacrifice_flies", "GIDP": "grounded_into_double_play"})
batting = batting.rename(columns=lambda x: x + "_BAT" if x not in ["playerID", "yearID", "teamID"] else x)
batting.head()

,playerID,yearID,stint_bat_BAT,teamID,lgID_bat_BAT,games_bat_BAT,at_bats_bat_BAT,runs_bat_BAT,hits_bat_BAT,doubles_bat_BAT,triples_bat_BAT,home_runs_bat_BAT,runs_batted_in_bat_BAT,stolen_bases_bat_BAT,caught_stealing_bat_BAT,walks_bat_BAT,strikeouts_bat_BAT,intentional_walks_bat_BAT,hit_by_pitch_bat_BAT,sacrifice_hits_bat_BAT,sacrifice_flies_bat_BAT,grounded_into_double_play_bat_BAT
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,0,0,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,0,0,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,5,0,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,2,2,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,3,0,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0

In [86]:
# Merge df1 and batting by playerID yearID teamID 
df2 = pd.merge(df1, batting, on=["playerID", "yearID", "teamID"], how="left")
df2.head()

,name,age,playerID,yearID,teamID,WAR_bat,WAR_pit,WAR_total,nameFirst,nameLast,weight,height,bats,throws,debut,awardID,lgID,stint_bat_BAT,lgID_bat_BAT,games_bat_BAT,at_bats_bat_BAT,runs_bat_BAT,hits_bat_BAT,doubles_bat_BAT,triples_bat_BAT,home_runs_bat_BAT,runs_batted_in_bat_BAT,stolen_bases_bat_BAT,caught_stealing_bat_BAT,walks_bat_BAT,strikeouts_bat_BAT,intentional_walks_bat_BAT,hit_by_pitch_bat_BAT,sacrifice_hits_bat_BAT,sacrifice_flies_bat_BAT,grounded_into_double_play_bat_BAT
0,David Aardsma,22.0,aardsda01,2004,SFG,0.00,-0.15,-0.15,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,David Aardsma,24.0,aardsda01,2006,CHC,-0.04,0.61,0.57,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,David Aardsma,25.0,aardsda01,2007,CHW,0.00,-0.40,-0.40,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,David Aardsma,26.0,aardsda01,2008,BOS,-0.02,-0.31,-0.33,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN,1.0,AL,47.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,David Aardsma,27.0,aardsda01,2009,SEA,0.00,1.69,1.69,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN,1.0,AL,73.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [87]:
### Pitching ###
# Rename columns
pitching = pitching.rename(columns={"W": "wins", "L": "losses", "G": "games", "GS": "games_started", "CG": "complete_games", "SHO": "shutouts", "SV": "saves", "IPouts": "outs_pitched", "H": "hits_allowed", "ER": "earned_runs", "HR": "home_runs_allowed", "BB": "walks", "SO": "strikeouts", "BAOpp": "opponent_batting_average", "ERA": "earned_run_average", "IBB": "intentional_walks", "WP": "wild_pitches", "HBP": "hit_by_pitch", "BK": "balks", "BFP": "batters_faced", "GF": "games_finished", "R": "runs_allowed", "SH": "sacrifice_hits", "SF": "sacrifice_flies", "GIDP": "grounded_into_double_play"})
pitching = pitching.rename(columns=lambda x: x + "_PIT" if x not in ["playerID", "yearID", "teamID"] else x)
pitching.head()

,playerID,yearID,stint_PIT,teamID,lgID_PIT,wins_PIT,losses_PIT,games_PIT,games_started_PIT,complete_games_PIT,shutouts_PIT,saves_PIT,outs_pitched_PIT,hits_allowed_PIT,earned_runs_PIT,home_runs_allowed_PIT,walks_PIT,strikeouts_PIT,opponent_batting_average_PIT,earned_run_average_PIT,intentional_walks_PIT,wild_pitches_PIT,hit_by_pitch_PIT,balks_PIT,batters_faced_PIT,games_finished_PIT,runs_allowed_PIT,sacrifice_hits_PIT,sacrifice_flies_PIT,grounded_into_double_play_PIT
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,0,0,78,43,23,0,11,1,NaN,7.96,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,0,0,792,361,132,4,37,13,NaN,4.50,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,0,0,3,8,3,0,0,0,NaN,27.00,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,1,0,639,295,103,3,31,15,NaN,4.35,NaN,20,NaN,0,1080.0,1,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,0,0,27,20,10,0,3,0,NaN,10.00,NaN,0,NaN,0,57.0,0,21,NaN,NaN,NaN

In [88]:
# Merge df2 and pitching by playerID yearID teamID
df3 = pd.merge(df2, pitching, on=["playerID", "yearID", "teamID"], how="left")
df3.head()

,name,age,playerID,yearID,teamID,WAR_bat,WAR_pit,WAR_total,nameFirst,nameLast,weight,height,bats,throws,debut,awardID,lgID,stint_bat_BAT,lgID_bat_BAT,games_bat_BAT,at_bats_bat_BAT,runs_bat_BAT,hits_bat_BAT,doubles_bat_BAT,triples_bat_BAT,home_runs_bat_BAT,runs_batted_in_bat_BAT,stolen_bases_bat_BAT,caught_stealing_bat_BAT,walks_bat_BAT,strikeouts_bat_BAT,intentional_walks_bat_BAT,hit_by_pitch_bat_BAT,sacrifice_hits_bat_BAT,sacrifice_flies_bat_BAT,grounded_into_double_play_bat_BAT,stint_PIT,lgID_PIT,wins_PIT,losses_PIT,games_PIT,games_started_PIT,complete_games_PIT,shutouts_PIT,saves_PIT,outs_pitched_PIT,hits_allowed_PIT,earned_runs_PIT,home_runs_allowed_PIT,walks_PIT,strikeouts_PIT,opponent_batting_average_PIT,earned_run_average_PIT,intentional_walks_PIT,wild_pitches_PIT,hit_by_pitch_PIT,balks_PIT,batters_faced_PIT,games_finished_PIT,runs_allowed_PIT,sacrifice_hits_PIT,sacrifice_flies_PIT,grounded_into_double_play_PIT
0,David Aardsma,22.0,aardsda01,2004,SFG,0.00,-0.15,-0.15,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,David Aardsma,24.0,aardsda01,2006,CHC,-0.04,0.61,0.57,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,David Aardsma,25.0,aardsda01,2007,CHW,0.00,-0.40,-0.40,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,David Aardsma,26.0,aardsda01,2008,BOS,-0.02,-0.31,-0.33,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN,1.0,AL,47.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,AL,4.0,2.0,47.0,0.0,0.0,0.0,0.0,146.0,49.0,30.0,4.0,35.0,49.0,0.268,5.55,2.0,3.0,5.0,0.0,228.0,7.0,32.0,3.0,2.0,4.0
4,David Aardsma,27.0,aardsda01,2009,SEA,0.00,1.69,1.69,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN,1.0,AL,73.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,AL,3.0,6.0,73.0,0.0,0.0,0.0,38.0,214.0,49.0,20.0,4.0,34.0,80.0,0.190,2.52,3.0,2.0,0.0,0.0,296.0,53.0,23.0,2.0,1.0,2.0

In [90]:
salaries.head()

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000

In [91]:
### Salaries ###
# Remove lgID
salaries = salaries.drop(columns=["lgID"])
# merge df3 and salaries by playerID yearID teamID
df4 = pd.merge(df3, salaries, on=["playerID", "yearID", "teamID"], how="left")

In [95]:
# Write to csv
df4.to_csv("data/player_stats.csv", index=False)

In [96]:
df4.head()

,name,age,playerID,yearID,teamID,WAR_bat,WAR_pit,WAR_total,nameFirst,nameLast,weight,height,bats,throws,debut,awardID,lgID,stint_bat_BAT,lgID_bat_BAT,games_bat_BAT,at_bats_bat_BAT,runs_bat_BAT,hits_bat_BAT,doubles_bat_BAT,triples_bat_BAT,home_runs_bat_BAT,runs_batted_in_bat_BAT,stolen_bases_bat_BAT,caught_stealing_bat_BAT,walks_bat_BAT,strikeouts_bat_BAT,intentional_walks_bat_BAT,hit_by_pitch_bat_BAT,sacrifice_hits_bat_BAT,sacrifice_flies_bat_BAT,grounded_into_double_play_bat_BAT,stint_PIT,lgID_PIT,wins_PIT,losses_PIT,games_PIT,games_started_PIT,complete_games_PIT,shutouts_PIT,saves_PIT,outs_pitched_PIT,hits_allowed_PIT,earned_runs_PIT,home_runs_allowed_PIT,walks_PIT,strikeouts_PIT,opponent_batting_average_PIT,earned_run_average_PIT,intentional_walks_PIT,wild_pitches_PIT,hit_by_pitch_PIT,balks_PIT,batters_faced_PIT,games_finished_PIT,runs_allowed_PIT,sacrifice_hits_PIT,sacrifice_flies_PIT,grounded_into_double_play_PIT,salary
0,David Aardsma,22.0,aardsda01,2004,SFG,0.00,-0.15,-0.15,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,David Aardsma,24.0,aardsda01,2006,CHC,-0.04,0.61,0.57,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,David Aardsma,25.0,aardsda01,2007,CHW,0.00,-0.40,-0.40,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,David Aardsma,26.0,aardsda01,2008,BOS,-0.02,-0.31,-0.33,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN,1.0,AL,47.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,AL,4.0,2.0,47.0,0.0,0.0,0.0,0.0,146.0,49.0,30.0,4.0,35.0,49.0,0.268,5.55,2.0,3.0,5.0,0.0,228.0,7.0,32.0,3.0,2.0,4.0,403250.0
4,David Aardsma,27.0,aardsda01,2009,SEA,0.00,1.69,1.69,David,Aardsma,215.0,75.0,R,R,2004-04-06,NaN,NaN,1.0,AL,73.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,AL,3.0,6.0,73.0,0.0,0.0,0.0,38.0,214.0,49.0,20.0,4.0,34.0,80.0,0.190,2.52,3.0,2.0,0.0,0.0,296.0,53.0,23.0,2.0,1.0,2.0,419000.0

In [94]:
teams.head()

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,DivWin,WCWin,LgWin,WSWin,R,AB,H,2B,3B,HR,BB,SO,SB,CS,HBP,SF,RA,ER,ERA,CG,SHO,SV,IPouts,HA,HRA,BBA,SOA,E,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,NaN,NaN,N,NaN,401,1372,426,70,37,3,60.0,19.0,73.0,16.0,NaN,NaN,303,109,3.55,22,1,3,828,367,2,42,23,243,24,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,NaN,NaN,N,NaN,302,1196,323,52,21,10,60.0,22.0,69.0,21.0,NaN,NaN,241,77,2.76,25,0,1,753,308,6,28,22,229,16,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,NaN,NaN,N,NaN,249,1186,328,35,40,7,26.0,25.0,18.0,8.0,NaN,NaN,341,116,4.11,23,0,0,762,346,13,53,34,234,15,0.818,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,NaN,NaN,N,NaN,137,746,178,19,8,2,33.0,9.0,16.0,4.0,NaN,NaN,243,97,5.17,19,1,0,507,261,5,21,17,163,8,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,NaN,NaN,N,NaN,302,1404,403,43,21,1,33.0,15.0,46.0,15.0,NaN,NaN,313,121,3.72,32,1,0,879,373,7,42,22,235,14,0.840,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

In [ ]:
### Teams ###

# WAR data

In [131]:
# Cols to keep
cols = ["name_common", "age", "player_ID", "year_ID", "team_ID", "WAR"]
# Remove all other columns from war_bat and war_pitch
war_bat = war_bat[cols]
# Renmae war in war_bat
war_bat =war_bat.rename(columns ={"WAR": "WAR_bat"})
war_pitch = war_pitch[cols]
war_pitch = war_pitch.rename(columns = {"WAR": "War_pit"})


war_bat.head()

     name_common   age  player_ID  year_ID team_ID  WAR_bat
0  David Aardsma  22.0  aardsda01     2004     SFG     0.00
1  David Aardsma  24.0  aardsda01     2006     CHC    -0.04
2  David Aardsma  25.0  aardsda01     2007     CHW     0.00
3  David Aardsma  26.0  aardsda01     2008     BOS    -0.02
4  David Aardsma  27.0  aardsda01     2009     SEA     0.00

In [132]:
war_bat.shape

(119945, 6)

In [133]:
war_pitch.shape

(53884, 6)

In [134]:
# Merge war_bat and war_pitch by player_ID and year_ID, NaN if no match, remove duplicate columns
war_br = pd.merge(war_bat, war_pitch, how="outer", on=["player_ID", "year_ID", "team_ID"])
#remove columns name_common_y, age_y
war_br = war_br.drop(columns=["name_common_y", "age_y"])
#rename name_common_x to name, age_x to age
war_br = war_br.rename(columns={"name_common_x": "name", "age_x": "age"})
war_br = war_br.rename(columns={"War_pit": "WAR_pit"})
# add War_total column
war_br["WAR_total"] = war_br["WAR_bat"] + war_br["WAR_pit"]

In [135]:
war_br.head()

,name,age,player_ID,year_ID,team_ID,WAR_bat,WAR_pit,WAR_total
0,David Aardsma,22.0,aardsda01,2004,SFG,0.00,-0.15,-0.15
1,David Aardsma,24.0,aardsda01,2006,CHC,-0.04,0.61,0.57
2,David Aardsma,25.0,aardsda01,2007,CHW,0.00,-0.40,-0.40
3,David Aardsma,26.0,aardsda01,2008,BOS,-0.02,-0.31,-0.33
4,David Aardsma,27.0,aardsda01,2009,SEA,0.00,1.69,1.69

In [136]:
# in war_fangraphs rename Name to name, team to team_ID, year to year_ID, Bat WAR to WAR_bat, Pit WAR to WAR_pit
war_fangraphs = war_fangraphs.rename(columns={"Name": "name", "Team": "team_ID", "year": "year_ID", "Bat WAR": "WAR_bat", "Pit WAR": "WAR_pit", "Total WAR": "WAR_total"})
#remove innings_pitched and plate_appeareances
war_fangraphs = war_fangraphs.drop(columns=["Innings_pitched", "plate_appearances"])

In [137]:
war_fangraphs.head()

             name team_ID  WAR_bat  WAR_pit  WAR_total  year_ID
0        Al Rosen     CLE      9.1      NaN        9.1     1953
1     Duke Snider     BRO      8.8      NaN        8.8     1953
2   Eddie Mathews     MIL      8.7      NaN        8.7     1953
3   Robin Roberts     PHI      0.1      8.4        8.5     1953
4  Roy Campanella     BRO      7.7      NaN        7.7     1953

In [87]:
# Merge war and war_fangraphs by name, team and year
war = pd.merge(war_br, war_fangraphs, how="outer", on=["name", "team_ID", "year_ID"])
war.head()

,name,age,player_ID,year_ID,team_ID,WAR_bat_x,WAR_pit_x,WAR_total_x,WAR_bat_y,WAR_pit_y,WAR_total_y
0,David Aardsma,22.0,aardsda01,2004,SFG,0.00,-0.15,-0.15,0.0,-0.3,-0.3
1,David Aardsma,24.0,aardsda01,2006,CHC,-0.04,0.61,0.57,0.0,-0.2,-0.2
2,David Aardsma,25.0,aardsda01,2007,CHW,0.00,-0.40,-0.40,0.0,0.2,0.2
3,David Aardsma,26.0,aardsda01,2008,BOS,-0.02,-0.31,-0.33,0.0,-0.1,-0.1
4,David Aardsma,27.0,aardsda01,2009,SEA,0.00,1.69,1.69,0.0,2.0,2.0

In [88]:
war.shape

(138282, 11)

In [90]:
war[war.isnull().any(axis=1)]

,name,age,player_ID,year_ID,team_ID,WAR_bat_x,WAR_pit_x,WAR_total_x,WAR_bat_y,WAR_pit_y,WAR_total_y
6,David Aardsma,30.0,aardsda01,2012,NYY,NaN,-0.02,NaN,0.0,-0.1,-0.1
9,Henry Aaron,20.0,aaronha01,1954,MLN,1.41,NaN,NaN,NaN,NaN,NaN
10,Henry Aaron,21.0,aaronha01,1955,MLN,6.24,NaN,NaN,NaN,NaN,NaN
11,Henry Aaron,22.0,aaronha01,1956,MLN,7.16,NaN,NaN,NaN,NaN,NaN
12,Henry Aaron,23.0,aaronha01,1957,MLN,7.96,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
138277,Rich Coggins,NaN,NaN,1976,- - -,NaN,NaN,NaN,-0.8,NaN,-0.8
138278,Larry Biittner,NaN,NaN,1976,- - -,NaN,NaN,NaN,-0.9,NaN,-0.9
138279,Jack Heidemann,NaN,NaN,1976,- - -,NaN,NaN,NaN,-1.3,NaN,-1.3
138280,Pedro Garcia,NaN,NaN,1976,- - -,NaN,NaN,NaN,-1.3,NaN,-1.3
138281,Von Joshua,NaN,NaN,1976,- - -,NaN,NaN,NaN,-1.9,NaN,-1.9

# WAR data - Fangraph

In [54]:
# plot Value counts for each year
war_fan['year'].value_counts().plot(kind='bar')
war_fan.head()

NameError: name 'war_fan' is not defined

In [138]:
war_br.to_csv("data/war_br.csv", index=False)
war_fangraphs.to_csv("data/war_fangraphs.csv", index=False)